version: "3.5"

services:
    web:
        image: bref/fpm-dev-gateway
        ports:
            - '8000:80'
        volumes:
            - .:/var/task
        depends_on:
            - php
        environment:
            HANDLER: public/index.php
    php:
        image: bref/php-73-fpm-dev
        volumes:
            - .:/var/task:ro
